@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-primairiy: 'Poppins', sans-serif;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primairiy;
  font-weight: 400;
}

::-webkit-scrollbar {
    display: none;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  
}

//HEADER - CSS

.header {
  background-color: rgb(30, 0, 112);
}

.logo{
  display: flex;
  align-items: center;
  font-size: 15px;
  color: white;
}

.phone{
  background-color: white;
  padding: 10px 25px;
  border: 2px solid white;
  border-radius: 5px;
}

.phone-number{
  font-size: 15px;
}

//HERO - CSS

.hero{
  background-color: rgb(30, 0, 112);
  color: white;
  padding: 20px 0px 50px 0px;
  display: flex;
;
}

.hero .container{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.hero-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;

}

.hero-content h1{
  font-size: 40px;
}

.contact-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid black 2px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.contact-form span{
  text-align: center;
  color: black;
}

input::placeholder, textarea::placeholder{
  text-transform: uppercase;
  color: black;;
}

input, textarea{
  padding: 10px 50px 10px 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.contact-message{
  resize: none;
  padding: 10px 50px 50px 5px;
}

//ABOUT - CSS

.about{
    display: flex;
  padding: 50px 0;
  gap: 20px;
}

.about .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.about .container > div{
    flex: 1;
}

.about img{
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
}

.about-content{
max-width: 800px;
display: flex;
flex-direction: column;
gap: 20px;
}

.about-content h2 {
    font-size: 30px;
}

//SERVICES - CSS

.services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(30, 0, 112);
    color: white;
    padding: 20px 0px 10px 0px;

}

.services .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.services-content{
    display: flex;
    flex-wrap: wrap;
}

.service-item{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.service-text{
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.service-item p {
    font-size: 12px;
}

.service-item img {
    max-width: 50px;
}

.services-button{
    background-color: white;
    color: rgb(30, 0, 112);
    padding: 7px 35px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}

//QUESTION - CSS

.questions{
  padding: 30px 0;
}

.questions h2{
  font-size: 30px;
  margin-bottom: 20px;
}

.questions .container{
  flex-direction: column;
  align-items: center;    
  gap: 20px;
}

.question-item{
  border: 1px solid black;
  padding: 10px 100px 10px 20px;
  border-radius: 10px;
}

//CONTACT - CSS

.contact{
  background-color: rgb(30, 0, 112);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  padding: 80px 0px 80px 0px;
}

.contact-content h2{
  font-size: 40px;
  color: white;

}

.contact-content p {
  font-size: 20px;
  color: white;
}

.contact-callToAction{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 30%;
  background-color: white;
  color: black;
  padding: 40px 30px 30px 40px;
  border-radius: 5px;
}

.contact-description{
  font-size: 15px;
}

.contact-callToAction button {
  background-color: rgb(30, 0, 112);
  color: white;
  padding: 10px 50px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 17px;
  margin: 10px 0px 10px 0px;
}

.contact-confirmation{
  font-size: 12px;
}

//FOOTER - CSS

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 30px 0;
  gap: 15px;
}

.footer span{
  font-size: 12px;
}
